/* Variables */
:root {
  /*  dark-palette  */
  --dark-1: #293449;
  --dark-2: #32425C;
  --dark-3: #1D2739;
  --dark-4: #161D29;
  --dark-5: #405069;
  --dark-6: #212A3A;
  --dark-7: #3D546F;
  --dark-8: #444444;
  /*  neutral-palette */
  --neutral-1: #F9F5F0;
  --neutral-2: #F1F5F7;
  --neutral-3: #F3F7F9;
  --neutral-4: #C5C5C5;
  --neutral-5: #A9A9A9;
  --neutral-6: #EAEAEA;
  --neutral-7: #F2F6F8;
  --neutral-8: #F7F3EC;
  --neutral-9: #E5E5E5;
  --neutral-10: #D7DCDE;
  --neutral-11: #ABABAB;
  --neutral-12: #B5B5B5;
  --neutral-13: #F4F4F4;

  /*  red-palette */
  --red-1: #EE3643;
  --red-2: #CA2C37;
  --red-3: #BA2732;
  /*  green-palette */
  --green-1: #63A63E;
  --green-2: #5FBB2D;
  --green-3: #518534;
  --green-4: #8ED78F;
  --green-5: #367315;
  --green-6: green;

  /*  yellow-palette  */
  --yellow-1: #FFBF47;
  --yellow-2: #FFC047;
  --yellow-3: #FFD180;
  /*  others-palette */
  --white: #FFFFFF;
  --black: #000000;
  --blue: #3BBCE3;
  --pink: #DC91D8;
  /* rgb-color  */
  --black-rgb: 0, 0, 0;
  --white-rgb: 255, 255, 255;
  --neutral-4-rgb: 197, 197, 197;
  --neutral-5-rgb: 169, 169, 169;
  --neutral-11-rgb: 171, 171, 171;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  min-width: 940px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.list {
  list-style: none;
}

.title {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-2);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  text-align: center;
  background-color: var(--red-1);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.hidden {
  display: none;
}

.appearance-none {
  appearance: none;
}

/* animation modal feedback */
@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes error {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* centering  */
.container-center {
  width: 940px;
  margin: 0 auto;
}

/* status-button */
.button:hover {
  background-color: var(--red-2);
}

.button:active {
  background-color: var(--red-3);
}

/* header */
.main-header {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  background-color: var(--neutral-3);
  margin-bottom: 59px;
  padding-bottom: 60px;
}

.header-container {
  background-color: var(--dark-1);
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  min-height: 42px;
}

.header-container .container-center {
  display: flex;
  height: 42px;
}

.logo {
  background-color: var(--red-1);
  box-shadow: inset 0px -5px 0px rgba(var(--black-rgb), 0.24);
  width: 220px;
  height: 47px;
}

.logo img {
  display: block;
  margin: 12px auto;
}

/*  Search  */
.search-form {
  flex-grow: 1;
  position: relative;
}

.btn-search {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.search,
.btn-search {
  background-color: transparent;
  border: none;
}

.search {
  width: 100%;
  height: 100%;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-top: 9px;
}


/*placeholder */
.search::-webkit-input-placeholder {
  color: var(--white);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search::-moz-placeholder {
  color: var(--white);
  opacity: 1;
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}

.search:-ms-input-placeholder {
  color: var(--white);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px
}

/*  search-focus */
.search:hover+.btn-search path {
  opacity: 1;
}

.search:focus {
  background-color: var(--white);
  border: none;
  outline: none;
}

.search:focus+.btn-search path {
  fill: var(--red-1);
  opacity: 1;
}

/*link-header */
.link {
  width: 150px;
  box-sizing: border-box;
  color: var(--white);
  padding-top: 9px;
  padding-bottom: 9px;
}

.bookmark-link {
  padding-left: 43px;
  position: relative;
}

.cart-link {
  padding-left: 49px;
  position: relative;
}

.bookmark-link::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 13px;
  left: 20px;
  opacity: 0.3;
}

.cart-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 13px;
  left: 26px;
  opacity: 0.3;
}

.bookmark-link:hover::before,
.cart-link:hover::before {
  opacity: 1;
}


.link:active {
  background-color: var(--dark-4);
  color: rgba(var(--white-rgb), 0.5);
}

.bookmark-link:active::before,
.cart-link:active::before {
  opacity: 0.3;
}

.order-link {
  background-color: var(--green-1);
  text-align: center;
}

.order-link:hover {
  background-color: var(--green-2);
}

.order-link:active {
  background-color: var(--green-1);
}

/* middle-header */
.middle-container-center {
  display: flex;
  padding-top: 44px;
  padding-bottom: 40px;
}

.info {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--red-1);
  margin: 0;
  padding-left: 30px;
}

/*contacts-header */

.contacts-header {
  margin-left: 93px;
  margin-right: auto;
  padding-top: 2px;
}

.contacts-header p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-2);
  margin: 0;
}

.phone-contacts-header {
  box-sizing: border-box;
  display: block;
  margin-bottom: 3px;
  position: relative;
  text-align: center;
  width: 270px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red-1);
  border: 3px solid var(--white);
  padding-top: 4px;
  padding-left: 29px;
  padding-bottom: 5px;
}

.phone-contacts-header::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 37px;
  top: 10px;
}

/* login  */
.login {
  display: flex;
  width: 281px;
  justify-content: space-between;
  position: relative;
}

.login-link {
  display: block;
  box-sizing: border-box;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  padding-top: 12px;
  height: 45px;
}

.enter-link {
  padding-left: 45px;
  width: 121px;
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 20px;
}

.new-login-link {
  width: 150px;
  text-align: center;
}

.login-link:hover {
  color: var(--red-1);
}

.login-link:hover+.login-icon path {
  fill: var(--dark-7);
}

.login-link:active {
  color: var(--neutral-4);
}

.login-link:active+.login-icon path {
  fill: var(--neutral-4);
}

/* menu-header  */
.main-navigation {
  background-color: var(--dark-2);
  box-shadow: inset 0px -5px 0px var(--dark-1);
}

.site-navigation {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
}

.site-navigation-item a {
  display: block;
  padding: 16px 28px 21px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  color: var(--white);
}

.site-navigation-item a:hover {
  background-color: var(--dark-1);
}

.site-navigation-item a:active {
  background-color: var(--dark-3);
  opacity: 0.5;
}

/*  Section "Menu"  */
.menu {
  margin-bottom: 60px;
}

.menu-nav {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  margin: 0;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

.materials {
  background-color: var(--yellow-1);
}

.tools {
  background-color: var(--blue);
}

.technic {
  background-color: var(--pink);
}

.sale {
  background-color: var(--green-4);
  padding-bottom: 23px;
}

.delivery {
  background-color: var(--yellow-1);
}

.menu-nav-item {
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 21px;
  position: relative;
}

/*background-icon*/

.menu-nav-item::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;

}

.materials::after {
  background-image: url("../img/icon/icon-material.svg");
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
}

.tools::after {
  background-image: url("../img/icon/icon-tools.svg");
  width: 75px;
  height: 61px;
  right: 31px;
  top: 33px;
}

.technic::after {
  background-image: url("../img/icon/icon-techniс.svg");
  width: 78px;
  height: 62px;
  right: 31px;
  top: 33px;
}

.sale::after {
  background-image: url("../img/icon/icon-sale.svg");
  width: 59px;
  height: 72px;
  right: 44px;
  top: 27px;
}

.delivery::after {
  background-image: url("../img/icon/icon-delivery.svg");
  width: 78px;
  height: 63px;
  right: 31px;
  top: 32px;
}

/* new  */
.materials::before {
  content: "";
  width: 70px;
  height: 70px;
  background-image: url("../img/decors/new.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-nav-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--white);
}

.sale h3 {
  margin-bottom: 12px;
}

.menu-btn {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(var(--white-rgb), 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.menu-btn:hover {
  background-color: rgba(var(--neutral-4-rgb), 0.3);
}

.menu-btn:active {
  background-color: rgba(var(--neutral-5-rgb), 0.3);
}

/* slider */
.promo {
  grid-row: 2/-1;
  grid-column: 1/3;
  position: relative;
}

.slider {
  background-color: var(--neutral-5);
  width: 620px;
  height: 266px;
  position: relative;
}

.container-title {
  background-color: rgba(var(--black-rgb), 0.25);
  position: absolute;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 16px;
  width: 100%;
}

.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  margin: 0;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  margin-top: 7px;
  margin-bottom: 0;
}

.slider img {
  position: absolute;
  top: 0;
}

.slider .button {
  position: absolute;
  box-sizing: border-box;
  width: 193px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 28px;
  left: 24px;
}

/* control-slider */
.control-arrow {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 122px;
  background-image: url("../img/decors/icon-left.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.prev {
  left: 24px;
}

.next {
  right: 20px;
  transform: rotate(180deg);
}

.radio-btn-slider {
  position: absolute;
  bottom: 30px;
  left: 295px;
}

.btn-slider {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: 6px;
}

.btn-slider:last-child {
  margin-right: 0;
}


.next-radio {
  background-color: var(--white);
}

.active-radio {
  background-color: var(--red-1);

}

/* popular-section */
.popular-container {
  display: flex;
  align-items: center;
  padding: 24px 14px 26px 28px;
  background-color: var(--neutral-1);
}

.popular-container .title {
  margin-right: auto;
}

.popular-container .button {
  text-align: center;
  width: 192px;
  padding-top: 10px;
  padding-bottom: 11px;
}

/* catalog */
.products {
  margin-bottom: 70px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.products-item {
  position: relative;
  min-height: 318px;
}

.catalog-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: 318px;
  background-color: var(--white);
  border: 1px solid var(--neutral-6);
  position: relative;
  box-sizing: border-box;
}

.products-item h3 {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  margin-top: 8px;
  margin-bottom: 7px;
  text-align: center;
}

.img-catalog {
  width: 220px;
  height: 170px;
  order: -1;
  text-align: center;
}

.img-catalog img {
  object-fit: scale-down;

}

.price {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--neutral-5);
  margin-bottom: 15px;
}

.new-price {
  color: var(--white);
  background-image: url("../img/decors/red-button.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 32px;
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 14px;
}

.new-product {
  background-image: url("../img/decors/new.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
}

/*hover item catalog  */
.catalog-link:hover {
  border: 1px solid var(--neutral-6);
  box-shadow: 0px 4px 20px rgba(var(--black-rgb), 0.15);
}

.catalog-link:hover .img-catalog {
  visibility: hidden
}

.catalog-link:hover+.popup-menu,
.popup-menu:hover {
  display: block;
}

/*  pop-up menu item  */
.popup-menu {
  display: none;
  position: absolute;
  width: 218px;
  margin-left: 1px;
  height: 168px;
  box-sizing: border-box;
  top: 1px;
  left: 1px;
  background-color: var(--white);
  padding-top: 38px;
  text-align: center;
}

.popup-menu-button {
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  text-align: center;
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  outline: none;
  border: none;
}

.button-cart {
  background-color: var(--green-1);
  box-shadow: inset 0px -3px 0px var(--green-5);
  border-radius: 2px;
  margin-bottom: 10px;
}

.button-bookmark {
  background-color: transparent;
  border: 3px solid var(--green-1);
  color: var(--dark-2);
}

/* status-popup-menu-cart */
.button-cart:hover {
  background-color: var(--green-2);
}

.button-cart:active {
  background-color: var(--green-3);
}

.button-bookmark:hover {
  border-color: var(--dark-2);
}

.button-bookmark:active {
  border-color: var(--dark-2);
  opacity: 0.5;
}

/* brands card */
.brands {
  margin-bottom: 67px;
}

.brands .popular-container {
  padding-right: 19px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin-top: 20px;
}

.brands-item a {
  display: block;
  width: 220px;
  height: 145px;
}

.brands-item a:hover {
  box-shadow: 0px 4px 20px rgba(var(--black-rgb), 0.15);
}

.brands-item a:active {
  background-color: rgba(var(--black-rgb), 0.01);
}

/*section service */

.service {
  background-color: var(--neutral-2);
  margin-bottom: 69px;
  padding-top: 66px;
}

.service .container-columns {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
  margin-bottom: 0;
}

.service h2,
.about .title,
.contacts .title {
  color: var(--black);
}

.service h2 {
  margin-bottom: 25px;
}

.about .title,
.contacts .title {
  margin-bottom: 20px;
}

.service p {
  margin-top: 0;
  margin-bottom: 68px;
}

.service-content {
  display: flex;
}

.service-list {
  padding: 0;
  margin: 3px 80px 99px 0;
  width: 240px;
  position: relative;
}

.service-item {
  box-sizing: border-box;
  display: block;
  width: 240px;
  height: 62px;
  padding: 14px 22px 17px;
  background-color: var(--dark-2);
  box-shadow: 0px 1px 0px var(--dark-1), inset 0px 1px 0px var(--dark-5);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}

/*decor-line*/
.service-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/decors/service-line.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: -47px;
  right: 0;
}

/*description-service*/

.desk-service-list {
  margin: 0;
  padding: 0;
}

.desk-service-item {
  height: 100%;
  background-repeat: no-repeat;
}

.desk-service-item .title {
  margin-top: 0;
  margin-bottom: 30px
}

.delivery-service {
  background-image: url("../img/service/serviсe-delivery.png");
  background-size: 468px 261px;
  background-position: 151px 22px;
}

.desk-service-item p {
  margin-bottom: 3px;
}

.guarantee-service {
  background-image: url("../img/service/serviсe-guarantee.png");
  background-size: 389px 283px;
  background-position: 239px 0;
}

.credit-service {
  background-image: url("../img/service/serviсe-credit.png");
  background-size: 465px 285px;
  background-position-x: 164px;
}

.credit-service .button {
  width: 195px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;

}

.credit-service p {
  margin-bottom: 27px;
}

/* current  type of service */
.current-service {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--dark-2);
}

.service-item:hover {
  background: var(--dark-1);
  box-shadow: 0px 1px 0px var(--dark-1), inset 0px 1px 0px var(--dark-5);
}

.current-service:hover {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--dark-2);
}

.transport-item {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-top: 5px;
  margin-bottom: 7px;
}

/* about  & contacts */

.container-columns-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-bottom: 58px;
  padding-bottom: 10px;
}

.about {
  width: 450px;
}

.text-about p {
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 3px;
  box-sizing: border-box;
}

.text-about p:last-child {
  margin-bottom: 0;
}


.transport-list {
  margin-top: 0;
  padding-left: 37px;
  margin-bottom: 20px;
}

/* transport-list decor */

.transport-item {
  position: relative;
}

.transport-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--red-1);
  top: 17px;
  left: -37px;
}

.contacts {
  width: 300px;
}

.contacts p {
  margin-bottom: 32px;
}

.contacts img {
  width: 300px;
  height: 158px;
  margin-bottom: 19px;
}

/*buttons*/
.container-columns-about .button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about .button {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 9px;
}

.contacts .button {
  border: none;
  width: 100%;
}

/* footer */
/*  footer-background */
.main-footer {
  background-color: var(--dark-2);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  /* padding-top: 1px;*/
}

.top-footer {
  min-height: 192px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 220px;
  height: 68px;
  display: block;
  padding: 19px 41px 25px 41px;
  box-sizing: border-box;
}

.footer-logo img {
  margin: 0;
}

.footer-container {
  background-color: var(--dark-1);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 37px;
  margin-bottom: 0;
}

.footer-nav-item {
  margin-right: 58px;
}

.footer-nav-item:nth-child(5n) {
  margin-right: 0;
}

.footer-nav-item a {
  color: var(--neutral-2);
}

.footer-menu-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 34px;
  margin-bottom: 0;
  margin-left: 22px;
}

.footer-menu-item a {
  color: var(--yellow-3);
}

.footer-menu-item {
  margin-right: 58px;
}

.footer-menu-item:nth-child(4n) {
  margin-right: 0;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: var(--neutral-3);
  margin-top: 22px;
  margin-left: 3px;
}

.footer-contacts a {
  font: inherit;
  color: inherit;
}

/* footer-bottom  */

.footer-container .container-center {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 30px;
  padding-right: 12px;
  padding-left: 1px;
  box-sizing: border-box;
}

.copy {
  min-width: 227px;
  margin: 0 45px 0 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

/*social-link*/

.social-list {
  padding: 0;
  margin: 0 auto 0;
  min-width: 134px;
}

.social-item {
  display: inline-block;
}

.social-item a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--dark-6);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1px;
}

.vk {
  background-image: url("../img/icon/icon-vk.svg");
  background-size: 26px 15px;
}

.fb {
  background-image: url("../img/icon/icon-fb.svg");
  background-size: 12px 22px;
}

.instagram {
  background-image: url("../img/icon/icon-insta.svg");
  background-size: 21px 21px;
}

.feedback,
.developer {
  margin: 0;
}

.feedback {
  width: 137px;
  margin-right: 51px;
}

.developer {
  width: 98px;
}

.feedback a,
.developer a {
  font: inherit;
  color: var(--yellow-3);
}

/* state footer-link */

.footer-nav-item a:hover,
.footer-menu-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-menu-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.social-item a:hover,
.social-item a:active {
  background-color: var(--red-1);
}


.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  text-decoration: none;
  color: var(--red-1);
}

/*  catalog-page  */


/* header */

.inner-page .main-header {
  margin-bottom: 19px;
}

.full {
  background-color: var(--red-1);
}

/*link catalog */
.inner-page .cart-link {
  width: 136px;
  padding-left: 35px;
}

.inner-page .cart-link::before {
  left: 13px;
}

.inner-page .bookmark-link {
  padding-left: 30px;
}

.inner-page .bookmark-link::before {
  left: 6px;
}

/* contact */
.inner-page .contacts-header {
  margin-top: 0;
}

/*login*/

.login-authorized {
  position: relative;
}

.login-link-authorized {
  display: block;
  min-width: 299px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  position: relative;
}

.user-icon {
  position: absolute;
  left: 15px;
}

.user-out {
  position: absolute;
  width: 20px;
  height: 17px;
  right: 15px;
  top: 15px;
}

.login-link-authorized p {
  margin: 0;
  padding: 0;
}

.user-icon:hover path,
.user-icon-out:hover path {
  fill: var(--dark-7)
}

.user-icon:active path,
.user-icon-out:active path {
  fill: var(--neutral-4);
}

.user-link-block {
  text-align: center;
  margin-top: 6px;
}

.user-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-2);
}


.user-link:hover {
  color: var(--red-1);
}

.user-name:active,
.user-link:active {
  color: var(--neutral-4);
}

.user-link:first-child {
  margin-right: 30px;
  position: relative;
}

.user-link:first-child::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--black);
  top: 8px;
  right: -20px;
}

.inner-page .middle-container-center {
  padding-bottom: 27px;
}

/* content-catalog */

/*grid*/

.page-catalog .container-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(3, auto) 1fr auto;
  gap: 20px;
}

.breadcrumbs-navigation {
  grid-column: 1/-1;
}

/*breadcrumbs*/

.breadcrumbs-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.breadcrumbs-item {
  margin-right: 41px;
  position: relative;
}

.breadcrumbs-item a {
  display: block;
}

.page-home {
  margin-top: 3px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon/icon-home.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url("../img/decors/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 3px;
  right: -25px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

/*  h1  */

.page-catalog .title {
  background-color: var(--neutral-7);
}

.page-catalog h1 {
  padding: 30px;
  grid-column: 1/-1;
}

.page-title,
.show-button,
.sort-choice {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: normal;
}

.filter .page-title {
  padding: 10px 18px;
  margin: 0;
}

/* filters  */

.filter {
  width: 220px;
  grid-row: 3/-1;
}

.filter .page-title {
  background-color: var(--neutral-8);
  border-radius: 5px;
}

.filter-form fieldset {
  border: none;
  border-bottom: solid 1px rgba(var(--black-rgb), 0.1);
  padding: 0;
  margin: 0;
}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 13px;
}

/*price*/

.range-filter {
  margin-bottom: 25px;
  margin-top: 11px;
}

.range-controls {
  box-sizing: border-box;
  background-color: var(--neutral-8);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.scale {
  background-color: var(--neutral-10);
  height: 2px;
}

.bar {
  height: 2px;
  background-color: var(--green-4);
  width: 80%;
}

.toggle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--neutral-11);
  box-shadow: 0 2px rgba(var(--neutral-11-rgb), 0.3);
  border: 8px solid var(--white);
  position: absolute;
  top: 29px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--neutral-8);
  border: none;
  width: 95px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 5px;
  padding-left: 15px;
}

.price-controls span {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-8);
  padding-top: 10px;
}

.range-controls,
.sort {
  background-color: var(--neutral-8);
}

/*brands-filter*/
.brands-filter legend {
  padding-top: 19px;
}

.power-filter legend {
  padding-top: 16px;
}

.filter-list {
  margin-top: 18px;
  margin-bottom: 27px;
  padding-left: 32px;
}

.filter-option {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 21px;
}

.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
  outline: none;
}

/*checkbox*/
.power-filter .filter-list {
  margin-top: 21px;
  padding-top: 4px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid var(--neutral-4);
  bottom: -3px;
  left: -32px;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/decors/checked.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  bottom: -3px;
  left: -32px;
  border: none;
}

.filter-input-checkbox:focus+label,
.filter-input-radio:focus+label {
  color: var(--red-1);
}

/*radio-button*/

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 4px solid var(--neutral-4);
  border-radius: 50%;
  bottom: -3px;
  left: -32px;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--neutral-4);
  top: 4px;
  left: -24px;
}

.filter-input-checkbox+label:hover::before,
.filter-input-radio+label:hover::before {
  border-color: var(--neutral-12);
}

.filter-input-checkbox:checked+label:hover::before {
  background-image: url("../img/decors/checkbox-hover.svg");
}

.filter-input-radio:checked+label:hover::after {
  background-color: var(--neutral-12);
}

/* blocked checkbox & radiobutton  */

.filter-option .blocked {
  opacity: 0.4;
}

.filter-form .power-filter {
  margin-bottom: 10px;
}

.show-button {
  background: var(--white);
  border: 1px solid var(--neutral-9);
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*  sort  */

.sort {
  grid-column-start: 2;
  grid-row: 3/4;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
}

.sort .page-title {
  width: 99px;
  text-align: center;
  margin-top: 0;
}

.sort-list {
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: end;
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 12px;
}

.sort-version-list {
  width: 44px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 11px;
}

.sort-option {
  margin-right: 68px;
}

.sort-option:last-child {
  margin-right: 0;
}

.sort-choice {
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-color: var(--red-1);
  text-decoration-style: dotted;
}

.sort-choice:hover {
  opacity: 1;
  text-decoration-style: solid;
}

.sort-choice.active {
  color: var(--red-1);
  opacity: 1;
  text-decoration: none;
}

/*sort-version-decor*/

.sort-choice-up {
  transform: rotate(180deg);
}

.sort-choice-up path {
  fill: var(--red-1);
}

/*  catalog products  */

.catalog .products-list {
  grid-template-columns: repeat(3, 220px);
  margin-top: 6px;
  row-gap: 18px;
  margin-bottom: 52px;
}

.catalog .products-item {
  width: 220px;
}

.old-price-hidden {
  visibility: hidden;
}

/* pagination */

.pagination-nav {
  margin-top: 48px;
  margin-bottom: 62px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item .show-button {
  border-radius: 2px;
  padding: 10px 15px;
}

.show-button.next-page {
  padding: 10px 31px;
}

.pagination-item .show-button:hover {
  border-color: var(--neutral-4);
}

.pagination-item .show-button:active {
  border-color: var(--red-1);
}

.pagination-item .current {
  background-color: var(--red-1);
  color: var(--white);
  border: none;
}

/* article-catalog-page */

.perforator-info {
  background-color: var(--neutral-2);
  margin-bottom: 0;
}

.perforator-info .container-center {
  padding-top: 51px;
}

.perforator-info .title {
  color: var(--black);
  margin-bottom: 25px;
}

.perforator-info p {
  margin: 0;
  padding-bottom: 68px;
}

/*modal*/

.modal {
  box-sizing: border-box;
  border-top: 7px solid var(--red-1);
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(var(--black-rgb), 0.15);
  position: fixed;
  z-index: 3;
}

.messege-form-container {
  margin-top: 39px;
  margin-bottom: 37px;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-feedback {
  width: 620px;
  top: 170px;
  left: 633px;
  animation: bounce 0.6s;
}

/* error form feedback */
.modal-error {
  animation: error 0.8s;
}

.messege-form-container label {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-bottom: 11px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.messege-form-container input,
.messege-form-container textarea {
  border: 2px solid var(--neutral-4);
  border-radius: 2px;
  box-sizing: border-box;
}

.messege-form-container input {
  width: 220px;
  height: 38px;
  padding-left: 12px;
}

.messege-form-container textarea {
  width: 460px;
  height: 114px;
  padding-left: 12px;
  padding-top: 8px;
}

.modal-footer-container {
  background-color: var(--neutral-13);
  padding-top: 33px;
  padding-bottom: 37px;
  padding-left: 10px;
}

.modal-footer-container .submit-button {
  width: 460px;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding-top: 11px;
  padding-bottom: 9px;
  margin: 0 auto;
}

.close-button {
  width: 21px;
  height: 21px;
  background-image: url("../img/decors/icon-close.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 11px;
}

.modal-map {
  width: 943px;
  top: 180px;
  left: 480px;
}

.modal-add-cart {
  width: 620px;
  height: 282px;
  top: 230px;
  left: 572px;
}

.modal-add-cart h2 {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-top: 68px;
  margin-left: 175px;
  margin-bottom: 68px;
  position: relative;
}

.modal-add-cart h2::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--green-1);
  background-image: url(../img/decors/add-cart.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  left: -95px;
  top: -20px;
}

.modal-add-cart .modal-footer-container {
  display: flex;
  justify-content: center;

}

.modal-add-cart a {
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.modal-add-cart .button {
  margin-right: 10px;
}

.continue,
.continue:hover,
.continue:active {
  background-color: var(--white);
  color: var(--black);
}
