/* Variables */
:root {
  /*  dark-palette  */
  --dark-1: #293449;
  --dark-2: #32425C;
  --dark-3: #1D2739;
  --dark-4: #161D29;
  --dark-5: #405069;
  --dark-6: #212A3A;
  /*  neutral-palette */
  --neutral-1: #F9F5F0;
  --neutral-2: #F1F5F7;
  --neutral-3: #F3F7F9;
  --neutral-4: #C5C5C5;
  --neutral-5: #A9A9A9;
  --neutral-6: #EAEAEA;
  --neutral-7: #F2F6F8;
  --neutral-8: #F7F3EC;
  --neutral-9: #E5E5E5;
  /*  red-palette */
  --red-1: #EE3643;
  --red-2: #CA2C37;
  --red-3: #BA2732;
  /*  green-palette */
  --green-1: #63A63E;
  --green-2: #5FBB2D;
  --green-3: #518534;
  --green-4: #8ED78F;
  --green-5: #367315;
  /*  yellow-palette  */
  --yellow-1: #FFBF47;
  --yellow-2: #FFC047;
  --yellow-3: #FFD180;
  /*  others-palette */
  --white: #FFFFFF;
  --black: #000000;
  --blue: #3BBCE3;
  --pink: #DC91D8;
  /* rgb-color  */
  --black-rgb: 0, 0, 0;
  --white-rgb: 255, 255, 255;
  --neutral-4-rgb: 197, 197, 197;
  --neutral-5-rgb: 169, 169, 169;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  min-width: 940px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.list {
  list-style: none;
}

.title {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-2);
  font-weight: normal;
  margin: 0;
  padding: 0;

}

.button {
  background-color: var(--red-1);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.hidden {
  display: none;
}

/* centering  */
.container-center {
  width: 940px;
  margin: 0 auto;
}

/* status-button */
.button:hover {
  background-color: var(--red-2);
}

.button:active {
  background-color: var(--red-3);
}

/* header */
.main-header {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  background-color: var(--neutral-3);
  margin-bottom: 59px;
  padding-bottom: 60px;
}

.header-container {
  background-color: var(--dark-1);
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  min-height: 42px;
}

.header-container .container-center {
  display: flex;


}

.logo {
  background-color: var(--red-1);
  box-shadow: inset 0px -5px 0px rgba(var(--black-rgb), 0.24);
  width: 220px;
  height: 47px;

}

.logo img {
  display: block;
  margin: 12px auto;
}

/*  Search  */
.search-form {
  flex-grow: 1;
}

.search,
.btn-search {
  background-color: transparent;
  border: none;

}

/*placeholder */
.search::-webkit-input-placeholder {
  color: var(--white);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search::-moz-placeholder {
  color: var(--white);
  opacity: 1;
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search:-ms-input-placeholder {
  color: var(--white);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/*  search-focus */
.search:focus {
  background-color: var(--white);
  border: none;
  outline: none;
}

/*link-header */
.link {
  width: 150px;
  color: var(--white);

}

.link:active {
  background-color: var(--dark-4);
  color: rgba(var(--white-rgb), 0.5);
}

.order-link {
  background-color: var(--green-1);
}

.order-link:hover {
  background-color: var(--green-2);
}

.order-link:active {
  background-color: var(--green-1);
}

/* middle-header */
.middle-container-center {
  display: flex;
  padding: 41px 0;
  justify-content: space-between;
}


.info {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--red-1);
  margin: 0;
}

/*contacts-header */
.contacts-header {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-2);
  margin: 0;
}

.phone-contacts-header {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red-1);
  border: 3px solid var(--white);
}

/* login  */
.login-link {
  display: block;
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.user-link:hover {
  color: var(--red-1);
}

.login-link:active,
.user-name:active,
.user-link:active {
  color: var(--neutral-4);
}

/* menu-header  */
.main-navigation {
  background-color: var(--dark-2);
  box-shadow: inset 0px -5px 0px var(--dark-1);
}

.site-navigation {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 16px 53px 20px 53px;
}

.site-navigation-item {
  margin-right: 56px
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item a {
  color: var(--white);
}

.site-navigation-item a:hover {
  background-color: var(--dark-1);
}

.site-navigation-item a:active {
  background-color: var(--dark-3);
  opacity: 0.5;
}

/*  Section "Menu"  */
.menu {
  margin-bottom: 60px;
}

.menu-nav {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  margin: 0;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

.materials {
  background-color: var(--yellow-1);

}

.tools {
  background-color: var(--blue);
}

.technic {
  background-color: var(--pink);
}

.sale {
  background-color: var(--green-4);
}

.delivery {
  background-color: var(--yellow-1);
}

.menu-nav-item {
  padding: 21px;
}

.menu-nav-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;
  color: var(--white);
}

.menu-btn {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(var(--white-rgb), 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.menu-btn:hover {
  background-color: rgba(var(--neutral-4-rgb), 0.3);
}

.menu-btn:active {
  background-color: rgba(var(--neutral-5-rgb), 0.3);
}

/* slider */
.promo {
  grid-row: 2/-1;
  grid-column: 1/3;
}

.slider {
  background-color: var(--neutral-5);
  width: 620px;
  height: 266px;
  position: relative;
}

.container-title {
  background-color: rgba(var(--black-rgb), 0.25);
  position: absolute;
  top: 0;
  z-index: 2;
}

.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  margin: 0;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.slider img {
  position: absolute;
  top: 0;

}

/* popular-section */
.popular-container {
  display: flex;
  align-items: center;
  padding: 25px 14px 26px 28px;
  background-color: var(--neutral-1);
}

.popular-container .title {
  margin-right: auto;
}

.popular-container .button {
  text-align: center;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;

}

/* catalog */
.products {
  margin-bottom: 70px;
}

.products-list {

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.products-item {
  width: 220px;
  margin-right: 20px;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item h3 {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.price {
  font-family: "PT Sans", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--neutral-5);
}

.new-price {
  color: var(--white);
  background-color: var(--red-1);
}


.products-item a {
  display: block;
  width: 220px;
  min-height: 318px;
  background-color: var(--white);
  border: 1px solid var(--neutral-6);
}

/*hover item catalog  */
.products-item a:hover {
  border: 1px solid var(--neutral-6);
  filter: drop-shadow(0px 4px 20px rgba(var(--black-rgb), 0.15));

}

/*  pop-up menu item  */
.popup-menu {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.popup-menu-cart {
  background-color: var(--green-1);
  box-shadow: inset 0px -3px 0px var(--green-5);
  border-radius: 2px;
  outline: none;
}

/* status-popup-menu-cart */
.popup-menu-cart:hover {
  background-color: var(--green-2);
}

.popup-menu-cart:active {
  background-color: var(--green-3);
}

.popup-menu-bookmark {
  background-color: transparent;
  border: 3px solid var(--green-1);
  color: var(--dark-2);
  outline: none;
}

.popup-menu-bookmark:hover {
  border-color: var(--dark-2);
}

.popup-menu-bookmark:active {
  border-color: var(--dark-2);
  opacity: 0.5;
}

/* brands card */
.brands {
  margin-bottom: 70px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.brands-item {
  width: 220px;
  margin-right: 20px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-item a:hover {
  filter: drop-shadow(0px 4px 20px rgba(var(--black-rgb), 0.15));
}

.brands-item a:active {
  background-color: rgba(var(--black-rgb), 0.01);

}

/*section service */
.service {
  background-color: var(--neutral-2);
  margin-bottom: 70px;
  padding-top: 64px;
  padding-bottom: 99px;

}

.service h2,
.about .title,
.contacts .title {
  color: var(--black);
  margin-bottom: 25px;
}

.service p {
  margin: 0;
  margin-bottom: 70px;
}

.service-content {
  display: flex;

}

.service-list {
  /*Этот список по высоте больше, чем вложенные в него li.  Не могу понять в чем причина*/
  padding: 0;
  margin: 0;
  margin-right: 80px;
  width: 240px;

}

.service-item a {
  box-sizing: border-box;
  display: block;
  width: 240px;
  height: 61px;
  padding: 13px 22px 17px;
  background-color: var(--dark-2);
  box-shadow: 0px 1px 0px var(--dark-1), inset 0px 1px 0px var(--dark-5);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}

.desk-service-list {
  margin: 0;
  padding: 0;
}

.desk-service-item .title {
  margin-top: 0;
  margin-bottom: 30px;
}

/* current  type of service */
.current-service a {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--dark-2);
}

.service-item a:hover {
  background: var(--dark-1);
  box-shadow: 0px 1px 0px var(--dark-1), inset 0px 1px 0px var(--dark-5);
}

.transport-item {
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* about  & contacts */
.container-columns {
  display: flex;
  margin-bottom: 70px;

}

.about {
  margin-right: 180px;
}

.container-columns p {
  margin: 0;
}

.about p:nth-child(2) {
  margin-bottom: 80px;
}

.transport-list {
  margin: 0;
  padding-left: 37px;
  margin-bottom: 20px;
}

.contacts p {
  margin-bottom: 32px;
}

.contacts img {
  width: 300px;
  height: 158px;
  margin-bottom: 25px;
}

.contacts .button {
  /*между кнопкой и картой сверху расстояние больше, чем марджин у карты*/
  border: none;
}

/* footer */
/*  footer-background */
.main-footer {
  background-color: var(--dark-2);
  font-family: "Cuprum", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;
}

.top-footer {
  min-height: 193px;
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  width: 220px;
  height: 68px;
  margin-right: 174px;
}

.footer-container {
  background-color: var(--dark-1);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

}

.footer-nav-item {
  margin-right: 58px;
}

.footer-nav-item:nth-child(5n) {
  margin-right: 0;
}

.footer-nav-item a {
  color: var(--neutral-2);
}

.footer-menu-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}


.footer-menu-item a {
  color: var(--yellow-3);
}

.footer-menu-item {
  margin-right: 58px;
}

.footer-menu-item:nth-child(4n) {
  margin-right: 0;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: var(--neutral-3);
  margin-bottom: 54px;
  margin-right: 92px;
}

.footer-contacts a {
  font: inherit;
  color: inherit;
}


/* footer-bottom  */
.footer-container .container-center {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 30px;
}

.copy {
  min-width: 227px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

/*social-link*/
.social-list {
  padding: 0;
  margin: 0;
  min-width: 134px;
}

.social-item {
  display: inline-block;

}

.social-item a {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--dark-6);
  border-radius: 50%;
}

.feedback {
  width: 137px;

}

.developer {
  width: 98px;
}

.feedback a,
.developer a {
  font: inherit;
  color: var(--yellow-3);
}

/* state footer-link */
.footer-nav-item a:hover,
.footer-menu-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-menu-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.social-item a:hover,
.social-item a:active {
  background-color: var(--red-1);
}

.feedback,
.developer {
  margin: 0;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  text-decoration: none;
  color: var(--red-1);
}

/*  catalog-page  */

/* header */
.inner-page .main-header {
  margin-bottom: 21px;
}

/*  login */
.user-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-2);

}

.grid-container-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.breadcrumbs-navigation {
  grid-column: 1/-1;
}

/*  h1  */
.page-catalog .title {
  background-color: var(--neutral-7);

}

.page-catalog h1 {
  grid-column: 1/-1;
  padding: 30px;
}

.page-title,
.show-button,
.sort-choice {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: normal;
}

.filter .page-title,
.sort .page-title {
  padding: 10px 18px;
  margin: 0;
}

/* filters  */

.filter .page-title {
  background-color: var(--neutral-8);
}

.filter-form fieldset {
  border: none;
  border-bottom: solid 1px rgba(var(--black-rgb), 0.1);
}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-form input {
  font-size: 17px;
  line-height: 18px;
}

.price-form,
.sort {
  background-color: var(--neutral-8);
}

.filter-option {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox:hover+label,
.filter-input-checkbox:focus+label {
  outline: none;
}

/* blocked checkbox & radiobutton  */
.filter-option .blocked {
  opacity: 0.4;
}

.show-button {
  background: var(--white);
  border: 1px solid var(--neutral-9);
}

/*  sort  */


.sort-choice {
  opacity: 0.3;
  text-decoration: underline;
  text-decoration-color: var(--red-1);
  text-decoration-style: dotted;
}

.sort-choice:hover {
  opacity: 1;
  text-decoration-style: solid;
}

.sort-choice.active {
  color: var(--red-1);
  opacity: 1;
  text-decoration: none;
}

/*  catalog products  */
.catalog .products-list {
  grid-template-columns: repeat(3, 220px);
}

/* pagination */
.pagination-item .show-button {
  border-radius: 2px;
}

.pagination-item .show-button:active {
  border-color: var(--red-1);
}

/* article-catalog-page */
.perforator-info {
  background-color: var(--neutral-2);
  margin-bottom: 0;
}

.perforator-info .container-center {
  padding-top: 64px;

}

.perforator-info .title {
  color: var(--black);
  margin-bottom: 25px;
}

.perforator-info p {
  margin: 0;
  padding-bottom: 68px;
}
